<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LAST_INVENTORY.My.MySettings.ConnectionString" connectionString="Data Source=DESKTOP-C5VF1NO\SQLEXPRESS01;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="LAST_INVENTORY.My.MySettings.LAST_INVENTORYConnectionString"
            connectionString="Data Source=DESKTOP-C5VF1NO\SQLEXPRESS01;Initial Catalog=&quot;LAST INVENTORY&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>